# Regression Predict Student Solution

© Explore Data Science Academy

---
### Honour Code

I Lucky Uyi, confirm - by submitting this document - that the solutions in this notebook are a result of my own work and that I abide by the [EDSA honour code](https://drive.google.com/file/d/1QDCjGZJ8-FmJE3bZdIQNwnJyQKPhHZBn/view?usp=sharing).

Non-compliance with the honour code constitutes a material breach of contract.

### Predict Overview: Spain Electricity Shortfall Challenge

The government of Spain is considering an expansion of it's renewable energy resource infrastructure investments. As such, they require information on the trends and patterns of the countries renewable sources and fossil fuel energy generation. Your company has been awarded the contract to:

- 1. analyse the supplied data;
- 2. identify potential errors in the data and clean the existing data set;
- 3. determine if additional features can be added to enrich the data set;
- 4. build a model that is capable of forecasting the three hourly demand shortfalls;
- 5. evaluate the accuracy of the best machine learning model;
- 6. determine what features were most important in the model’s prediction decision, and
- 7. explain the inner working of the model to a non-technical audience.

Formally the problem statement was given to you, the senior data scientist, by your manager via email reads as follow:

> In this project you are tasked to model the shortfall between the energy generated by means of fossil fuels and various renewable sources - for the country of Spain. The daily shortfall, which will be referred to as the target variable, will be modelled as a function of various city-specific weather features such as `pressure`, `wind speed`, `humidity`, etc. As with all data science projects, the provided features are rarely adequate predictors of the target variable. As such, you are required to perform feature engineering to ensure that you will be able to accurately model Spain's three hourly shortfalls.
 
On top of this, she has provided you with a starter notebook containing vague explanations of what the main outcomes are.

<a id="cont"></a>

## Table of Contents

<a href=#one>1. Importing Packages</a>

<a href=#two>2. Loading Data</a>

<a href=#three>3. Exploratory Data Analysis (EDA)</a>

<a href=#four>4. Data Engineering</a>

<a href=#five>5. Modeling</a>

<a href=#six>6. Model Performance</a>

<a href=#seven>7. Model Explanations</a>

 <a id="one"></a>
## 1. Importing Packages
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Importing Packages ⚡ |
| :--------------------------- |
| In this section you are required to import, and briefly discuss, the libraries that will be used throughout your analysis and modelling. |

---

In [1]:
# Libraries for data loading, data manipulation and data visulisation
import numpy as np  # Used for mathematical operations
import pandas as pd  # for loading CSV data
import matplotlib.pyplot as plt  # for plotting data
from sklearn.metrics import mean_squared_error # for checking performance
# Libraries for data loading, data manipulation and data visualisation
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Libraries for data preparation and model building
# from dataprep.eda import create_report, plot, plot_correlation
from sklearn.preprocessing import StandardScaler
from statsmodels.formula.api import ols
from xgboost import XGBRegressor
from sklearn.linear_model import Ridge, Lasso, LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR

# Setting global constants to ensure notebook results are reproducible
#PARAMETER_CONSTANT = ###

C:\Users\Lucky\Anaconda3\lib\site-packages\xgboost\compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

<a id="two"></a>
## 2. Loading the Data
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Loading the data ⚡ |
| :--------------------------- |
| In this section you are required to load the data from the `df_train` file into a DataFrame. |

---

In [217]:
# load the data
df = pd.read_csv('df_train.csv')
df1 = pd.read_csv('df_test.csv')
df4 = df1.copy()

<a id="three"></a>
## 3. Exploratory Data Analysis (EDA)
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Exploratory data analysis ⚡ |
| :--------------------------- |
| In this section, you are required to perform an in-depth analysis of all the variables in the DataFrame. |

---

In [218]:
# look at data statistics
df.shape

(8763, 49)

In [219]:
df1.shape

(2920, 48)

In [220]:
df.head(5)

,Unnamed: 0,time,Madrid_wind_speed,Valencia_wind_deg,Bilbao_rain_1h,Valencia_wind_speed,Seville_humidity,Madrid_humidity,Bilbao_clouds_all,Bilbao_wind_speed,Seville_clouds_all,Bilbao_wind_deg,Barcelona_wind_speed,Barcelona_wind_deg,Madrid_clouds_all,Seville_wind_speed,Barcelona_rain_1h,Seville_pressure,Seville_rain_1h,Bilbao_snow_3h,Barcelona_pressure,Seville_rain_3h,Madrid_rain_1h,Barcelona_rain_3h,Valencia_snow_3h,Madrid_weather_id,Barcelona_weather_id,Bilbao_pressure,Seville_weather_id,Valencia_pressure,Seville_temp_max,Madrid_pressure,Valencia_temp_max,Valencia_temp,Bilbao_weather_id,Seville_temp,Valencia_humidity,Valencia_temp_min,Barcelona_temp_max,Madrid_temp_max,Barcelona_temp,Bilbao_temp_min,Bilbao_temp,Barcelona_temp_min,Bilbao_temp_max,Seville_temp_min,Madrid_temp,Madrid_temp_min,load_shortfall_3h
0,0,2015-01-01 03:00:00,0.666667,level_5,0.0,0.666667,74.333333,64.000000,0.0,1.000000,0.0,223.333333,6.333333,42.666667,0.0,3.333333,0.0,sp25,0.0,0.0,1036.333333,0.0,0.0,0.0,0.0,800.0,800.0,1035.000000,800.0,1002.666667,274.254667,971.333333,269.888000,269.888000,800.0,274.254667,75.666667,269.888000,281.013000,265.938000,281.013000,269.338615,269.338615,281.013000,269.338615,274.254667,265.938000,265.938000,6715.666667
1,1,2015-01-01 06:00:00,0.333333,level_10,0.0,1.666667,78.333333,64.666667,0.0,1.000000,0.0,221.000000,4.000000,139.000000,0.0,3.333333,0.0,sp25,0.0,0.0,1037.333333,0.0,0.0,0.0,0.0,800.0,800.0,1035.666667,800.0,1004.333333,274.945000,972.666667,271.728333,271.728333,800.0,274.945000,71.000000,271.728333,280.561667,266.386667,280.561667,270.376000,270.376000,280.561667,270.376000,274.945000,266.386667,266.386667,4171.666667
2,2,2015-01-01 09:00:00,1.000000,level_9,0.0,1.000000,71.333333,64.333333,0.0,1.000000,0.0,214.333333,2.000000,326.000000,0.0,2.666667,0.0,sp25,0.0,0.0,1038.000000,0.0,0.0,0.0,0.0,800.0,800.0,1036.000000,800.0,1005.333333,278.792000,974.000000,278.008667,278.008667,800.0,278.792000,65.666667,278.008667,281.583667,272.708667,281.583667,275.027229,275.027229,281.583667,275.027229,278.792000,272.708667,272.708667,4274.666667
3,3,2015-01-01 12:00:00,1.000000,level_8,0.0,1.000000,65.333333,56.333333,0.0,1.000000,0.0,199.666667,2.333333,273.000000,0.0,4.000000,0.0,sp25,0.0,0.0,1037.000000,0.0,0.0,0.0,0.0,800.0,800.0,1036.000000,800.0,1009.000000,285.394000,994.666667,284.899552,284.899552,800.0,285.394000,54.000000,284.899552,283.434104,281.895219,283.434104,281.135063,281.135063,283.434104,281.135063,285.394000,281.895219,281.895219,5075.666667
4,4,2015-01-01 15:00:00,1.000000,level_7,0.0,1.000000,59.000000,57.000000,2.0,0.333333,0.0,185.000000,4.333333,260.000000,0.0,3.000000,0.0,sp25,0.0,0.0,1035.000000,0.0,0.0,0.0,0.0,800.0,800.0,1035.333333,800.0,NaN,285.513719,1035.333333,283.015115,283.015115,800.0,285.513719,58.333333,283.015115,284.213167,280.678437,284.213167,282.252063,282.252063,284.213167,282.252063,285.513719,280.678437,280.678437,6620.666667

In [221]:
df1.head(5)

,Unnamed: 0,time,Madrid_wind_speed,Valencia_wind_deg,Bilbao_rain_1h,Valencia_wind_speed,Seville_humidity,Madrid_humidity,Bilbao_clouds_all,Bilbao_wind_speed,Seville_clouds_all,Bilbao_wind_deg,Barcelona_wind_speed,Barcelona_wind_deg,Madrid_clouds_all,Seville_wind_speed,Barcelona_rain_1h,Seville_pressure,Seville_rain_1h,Bilbao_snow_3h,Barcelona_pressure,Seville_rain_3h,Madrid_rain_1h,Barcelona_rain_3h,Valencia_snow_3h,Madrid_weather_id,Barcelona_weather_id,Bilbao_pressure,Seville_weather_id,Valencia_pressure,Seville_temp_max,Madrid_pressure,Valencia_temp_max,Valencia_temp,Bilbao_weather_id,Seville_temp,Valencia_humidity,Valencia_temp_min,Barcelona_temp_max,Madrid_temp_max,Barcelona_temp,Bilbao_temp_min,Bilbao_temp,Barcelona_temp_min,Bilbao_temp_max,Seville_temp_min,Madrid_temp,Madrid_temp_min
0,8763,2018-01-01 00:00:00,5.000000,level_8,0.0,5.000000,87.000000,71.333333,20.000000,3.000000,0.000000,193.333333,4.000000,176.666667,0.0,1.000000,0.0,sp25,0.0,0,1017.333333,0.0,0.0,0.0,0,800.0,800.000000,1025.666667,800.000000,NaN,284.483333,1030.000000,287.483333,287.483333,801.000000,283.673333,46.333333,287.483333,287.816667,280.816667,287.356667,276.150000,280.380000,286.816667,285.150000,283.150000,279.866667,279.150000
1,8764,2018-01-01 03:00:00,4.666667,level_8,0.0,5.333333,89.000000,78.000000,0.000000,3.666667,0.000000,143.333333,4.666667,266.666667,0.0,0.666667,0.0,sp25,0.0,0,1020.333333,0.0,0.0,0.0,0,800.0,800.333333,1026.666667,800.000000,NaN,282.483333,1030.333333,284.150000,284.150000,721.000000,281.673333,53.666667,284.150000,284.816667,280.483333,284.190000,277.816667,281.010000,283.483333,284.150000,281.150000,279.193333,278.150000
2,8765,2018-01-01 06:00:00,2.333333,level_7,0.0,5.000000,89.000000,89.666667,0.000000,2.333333,6.666667,130.000000,4.000000,263.333333,0.0,0.666667,0.0,sp25,0.0,0,1023.000000,0.0,0.0,0.0,0,800.0,800.000000,1025.333333,800.333333,NaN,280.816667,1030.666667,282.816667,282.816667,800.000000,280.613333,42.000000,282.816667,284.483333,276.483333,283.150000,276.816667,279.196667,281.816667,282.150000,280.483333,276.340000,276.150000
3,8766,2018-01-01 09:00:00,2.666667,level_7,0.0,5.333333,93.333333,82.666667,26.666667,5.666667,6.666667,196.666667,2.333333,86.666667,0.0,1.333333,0.0,sp25,0.0,0,1025.666667,0.0,0.0,0.0,0,800.0,800.000000,1025.000000,800.333333,NaN,281.150000,1032.333333,283.483333,283.483333,801.333333,279.936667,45.000000,283.483333,284.150000,277.150000,283.190000,279.150000,281.740000,282.150000,284.483333,279.150000,275.953333,274.483333
4,8767,2018-01-01 12:00:00,4.000000,level_7,0.0,8.666667,65.333333,64.000000,26.666667,10.666667,0.000000,233.333333,4.666667,283.333333,0.0,1.000000,0.0,sp25,0.0,0,1026.000000,0.0,0.0,0.0,0,800.0,800.333333,1022.333333,800.000000,NaN,287.150000,1032.333333,287.150000,287.150000,801.333333,285.570000,41.000000,287.150000,287.483333,281.150000,286.816667,281.816667,284.116667,286.150000,286.816667,284.483333,280.686667,280.150000

In [222]:
# plot relevant feature interactions

In [223]:
#Checking for missing values
features_with_na = [features for features in df.columns if df[features].isnull().sum() > 1]
features_with_na

['Valencia_pressure']

In [224]:
min_max = [features for features in df.columns if 'min' in features or 'max' in features]
print(df[min_max].shape)
print(min_max)

(8763, 10)
['Seville_temp_max', 'Valencia_temp_max', 'Valencia_temp_min', 'Barcelona_temp_max', 'Madrid_temp_max', 'Bilbao_temp_min', 'Barcelona_temp_min', 'Bilbao_temp_max', 'Seville_temp_min', 'Madrid_temp_min']

In [225]:
min_max_test = [features for features in df1.columns if 'min' in features or 'max' in features]
print(df1[min_max].shape)
print(min_max)

(2920, 10)
['Seville_temp_max', 'Valencia_temp_max', 'Valencia_temp_min', 'Barcelona_temp_max', 'Madrid_temp_max', 'Bilbao_temp_min', 'Barcelona_temp_min', 'Bilbao_temp_max', 'Seville_temp_min', 'Madrid_temp_min']

In [226]:
Categorical_features = [features for features in df.columns if df[features].dtypes == 'O' ]
df[Categorical_features].nunique()

time                 8763
Valencia_wind_deg      10
Seville_pressure       25
dtype: int64

In [227]:
Test_categorical_features = [features for features in df1.columns if df1[features].dtypes == 'O' ]
df1[Test_categorical_features].nunique()

time                 2920
Valencia_wind_deg      10
Seville_pressure       25
dtype: int64

In [228]:
# have a look at feature distributions
df.isnull().sum()

Unnamed: 0                 0
time                       0
Madrid_wind_speed          0
Valencia_wind_deg          0
Bilbao_rain_1h             0
Valencia_wind_speed        0
Seville_humidity           0
Madrid_humidity            0
Bilbao_clouds_all          0
Bilbao_wind_speed          0
Seville_clouds_all         0
Bilbao_wind_deg            0
Barcelona_wind_speed       0
Barcelona_wind_deg         0
Madrid_clouds_all          0
Seville_wind_speed         0
Barcelona_rain_1h          0
Seville_pressure           0
Seville_rain_1h            0
Bilbao_snow_3h             0
Barcelona_pressure         0
Seville_rain_3h            0
Madrid_rain_1h             0
Barcelona_rain_3h          0
Valencia_snow_3h           0
Madrid_weather_id          0
Barcelona_weather_id       0
Bilbao_pressure            0
Seville_weather_id         0
Valencia_pressure       2068
Seville_temp_max           0
Madrid_pressure            0
Valencia_temp_max          0
Valencia_temp              0
Bilbao_weather_id          0
Seville_temp               0
Valencia_humidity          0
Valencia_temp_min          0
Barcelona_temp_max         0
Madrid_temp_max            0
Barcelona_temp             0
Bilbao_temp_min            0
Bilbao_temp                0
Barcelona_temp_min         0
Bilbao_temp_max            0
Seville_temp_min           0
Madrid_temp                0
Madrid_temp_min            0
load_shortfall_3h          0
dtype: int64

In [229]:
df1.isnull().sum()

Unnamed: 0                0
time                      0
Madrid_wind_speed         0
Valencia_wind_deg         0
Bilbao_rain_1h            0
Valencia_wind_speed       0
Seville_humidity          0
Madrid_humidity           0
Bilbao_clouds_all         0
Bilbao_wind_speed         0
Seville_clouds_all        0
Bilbao_wind_deg           0
Barcelona_wind_speed      0
Barcelona_wind_deg        0
Madrid_clouds_all         0
Seville_wind_speed        0
Barcelona_rain_1h         0
Seville_pressure          0
Seville_rain_1h           0
Bilbao_snow_3h            0
Barcelona_pressure        0
Seville_rain_3h           0
Madrid_rain_1h            0
Barcelona_rain_3h         0
Valencia_snow_3h          0
Madrid_weather_id         0
Barcelona_weather_id      0
Bilbao_pressure           0
Seville_weather_id        0
Valencia_pressure       454
Seville_temp_max          0
Madrid_pressure           0
Valencia_temp_max         0
Valencia_temp             0
Bilbao_weather_id         0
Seville_temp              0
Valencia_humidity         0
Valencia_temp_min         0
Barcelona_temp_max        0
Madrid_temp_max           0
Barcelona_temp            0
Bilbao_temp_min           0
Bilbao_temp               0
Barcelona_temp_min        0
Bilbao_temp_max           0
Seville_temp_min          0
Madrid_temp               0
Madrid_temp_min           0
dtype: int64

In [230]:
pd.pandas.set_option('display.max_columns' , None)
df1.describe()

,Unnamed: 0,Madrid_wind_speed,Bilbao_rain_1h,Valencia_wind_speed,Seville_humidity,Madrid_humidity,Bilbao_clouds_all,Bilbao_wind_speed,Seville_clouds_all,Bilbao_wind_deg,Barcelona_wind_speed,Barcelona_wind_deg,Madrid_clouds_all,Seville_wind_speed,Barcelona_rain_1h,Seville_rain_1h,Bilbao_snow_3h,Barcelona_pressure,Seville_rain_3h,Madrid_rain_1h,Barcelona_rain_3h,Valencia_snow_3h,Madrid_weather_id,Barcelona_weather_id,Bilbao_pressure,Seville_weather_id,Valencia_pressure,Seville_temp_max,Madrid_pressure,Valencia_temp_max,Valencia_temp,Bilbao_weather_id,Seville_temp,Valencia_humidity,Valencia_temp_min,Barcelona_temp_max,Madrid_temp_max,Barcelona_temp,Bilbao_temp_min,Bilbao_temp,Barcelona_temp_min,Bilbao_temp_max,Seville_temp_min,Madrid_temp,Madrid_temp_min
count,2920.000000,2920.000000,2920.000000,2920.000000,2920.000000,2920.000000,2920.000000,2920.000000,2920.000000,2920.000000,2920.000000,2920.000000,2920.000000,2920.000000,2920.000000,2920.000000,2920.0,2920.000000,2920.000000,2920.000000,2920.000000,2920.0,2920.000000,2920.000000,2920.000000,2920.000000,2466.000000,2920.000000,2920.000000,2920.000000,2920.000000,2920.000000,2920.000000,2920.000000,2920.000000,2920.000000,2920.000000,2920.000000,2920.000000,2920.000000,2920.000000,2920.000000,2920.000000,2920.000000,2920.000000
mean,10222.500000,2.457820,0.067517,3.012785,67.123516,62.644463,43.355422,2.283562,15.477283,162.643836,2.518094,178.979452,24.255822,2.657192,0.047397,0.046164,0.0,1015.317123,0.000001,0.059863,0.000006,0.0,758.820101,760.473307,1016.709132,772.226294,1013.148351,291.589360,1016.240411,291.439216,291.377796,737.039079,290.746255,64.623916,291.317184,290.695462,288.888393,289.911289,284.920684,286.522375,289.124971,288.483641,290.152431,287.869763,286.618130
std,843.075718,1.774838,0.153381,1.996340,20.611292,24.138393,30.486298,1.654787,25.289197,97.749873,1.625507,86.976503,29.430257,1.788870,0.162474,0.193432,0.0,7.021445,0.000074,0.193218,0.000217,0.0,93.536025,98.009846,8.773784,75.727539,6.528997,7.521748,9.624074,7.055448,7.113243,106.129916,7.738131,18.355766,7.176955,7.113599,9.089699,7.119411,6.803424,6.492355,7.168049,6.221324,7.906915,8.977511,8.733163
min,8763.000000,0.000000,0.000000,0.000000,11.666667,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,988.333333,0.000000,0.000000,0.000000,0.0,262.500000,207.333333,975.000000,259.500000,973.000000,273.816667,943.000000,273.816667,273.816667,207.666667,272.350000,13.000000,273.816667,273.816667,269.816667,272.650000,266.483333,268.120000,271.483333,270.138667,271.150000,268.713333,267.816667
25%,9492.750000,1.333333,0.000000,1.666667,52.000000,43.000000,13.333333,1.000000,0.000000,86.666667,1.333333,113.333333,0.000000,1.333333,0.000000,0.000000,0.0,1012.000000,0.000000,0.000000,0.000000,0.0,800.000000,800.000000,1013.333333,800.000000,1010.666667,286.150000,1013.666667,286.150000,285.816667,702.000000,285.356667,52.000000,285.816667,284.816667,281.483333,284.307500,280.150000,281.778333,283.483333,284.150000,284.483333,280.816667,279.816667
50%,10222.500000,2.000000,0.000000,2.333333,70.333333,63.000000,45.000000,1.666667,0.000000,140.000000,2.000000,176.666667,11.333333,2.333333,0.000000,0.000000,0.0,1016.000000,0.000000,0.000000,0.000000,0.0,800.000000,800.000000,1017.666667,800.000000,1014.666667,290.483333,1017.333333,291.150000,291.150000,800.000000,289.540000,65.000000,291.150000,290.150000,287.483333,289.483333,284.483333,286.265000,288.816667,288.483333,289.150000,286.396667,285.483333
75%,10952.250000,3.333333,0.000000,4.000000,85.000000,84.000000,75.000000,3.333333,20.000000,233.333333,3.666667,253.333333,40.000000,3.666667,0.000000,0.000000,0.0,1019.333333,0.000000,0.000000,0.000000,0.0,800.666667,801.000000,1022.000000,800.333333,1017.666667,296.483333,1021.333333,297.150000,297.150000,802.000000,295.674167,79.333333,297.150000,296.483333,295.483333,295.816667,289.816667,291.119167,295.150000,292.816667,295.150000,294.452500,293.150000
max,11682.000000,13.333333,1.600000,14.333333,100.000000,100.000000,97.333333,10.666667,93.333333,360.000000,12.666667,343.333333,92.000000,12.666667,2.300000,2.300000,0.0,1037.000000,0.004000,3.000000,0.009667,0.0,804.000000,804.000000,1040.000000,804.000000,1021.666667,315.150000,1036.000000,310.150000,310.150000,804.000000,314.816667,100.000000,310.150000,309.483333,313.483333,308.150000,307.483333,308.966667,306.816667,310.816667,314.483333,312.223333,310.150000

In [231]:
# df.kurtosis()

In [232]:
# # pd.pandas.set_option('display.max_rows' , None)
# df.skew()

<a id="four"></a>
## 4. Data Engineering
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Data engineering ⚡ |
| :--------------------------- |
| In this section you are required to: clean the dataset, and possibly create new features - as identified in the EDA phase. |

---

In [233]:
column_titles = [col for col in df.columns if col!= 'load_shortfall_3h'] + ['load_shortfall_3h']
df=df.reindex(columns=column_titles)

In [234]:
df.head()

,Unnamed: 0,time,Madrid_wind_speed,Valencia_wind_deg,Bilbao_rain_1h,Valencia_wind_speed,Seville_humidity,Madrid_humidity,Bilbao_clouds_all,Bilbao_wind_speed,Seville_clouds_all,Bilbao_wind_deg,Barcelona_wind_speed,Barcelona_wind_deg,Madrid_clouds_all,Seville_wind_speed,Barcelona_rain_1h,Seville_pressure,Seville_rain_1h,Bilbao_snow_3h,Barcelona_pressure,Seville_rain_3h,Madrid_rain_1h,Barcelona_rain_3h,Valencia_snow_3h,Madrid_weather_id,Barcelona_weather_id,Bilbao_pressure,Seville_weather_id,Valencia_pressure,Seville_temp_max,Madrid_pressure,Valencia_temp_max,Valencia_temp,Bilbao_weather_id,Seville_temp,Valencia_humidity,Valencia_temp_min,Barcelona_temp_max,Madrid_temp_max,Barcelona_temp,Bilbao_temp_min,Bilbao_temp,Barcelona_temp_min,Bilbao_temp_max,Seville_temp_min,Madrid_temp,Madrid_temp_min,load_shortfall_3h
0,0,2015-01-01 03:00:00,0.666667,level_5,0.0,0.666667,74.333333,64.000000,0.0,1.000000,0.0,223.333333,6.333333,42.666667,0.0,3.333333,0.0,sp25,0.0,0.0,1036.333333,0.0,0.0,0.0,0.0,800.0,800.0,1035.000000,800.0,1002.666667,274.254667,971.333333,269.888000,269.888000,800.0,274.254667,75.666667,269.888000,281.013000,265.938000,281.013000,269.338615,269.338615,281.013000,269.338615,274.254667,265.938000,265.938000,6715.666667
1,1,2015-01-01 06:00:00,0.333333,level_10,0.0,1.666667,78.333333,64.666667,0.0,1.000000,0.0,221.000000,4.000000,139.000000,0.0,3.333333,0.0,sp25,0.0,0.0,1037.333333,0.0,0.0,0.0,0.0,800.0,800.0,1035.666667,800.0,1004.333333,274.945000,972.666667,271.728333,271.728333,800.0,274.945000,71.000000,271.728333,280.561667,266.386667,280.561667,270.376000,270.376000,280.561667,270.376000,274.945000,266.386667,266.386667,4171.666667
2,2,2015-01-01 09:00:00,1.000000,level_9,0.0,1.000000,71.333333,64.333333,0.0,1.000000,0.0,214.333333,2.000000,326.000000,0.0,2.666667,0.0,sp25,0.0,0.0,1038.000000,0.0,0.0,0.0,0.0,800.0,800.0,1036.000000,800.0,1005.333333,278.792000,974.000000,278.008667,278.008667,800.0,278.792000,65.666667,278.008667,281.583667,272.708667,281.583667,275.027229,275.027229,281.583667,275.027229,278.792000,272.708667,272.708667,4274.666667
3,3,2015-01-01 12:00:00,1.000000,level_8,0.0,1.000000,65.333333,56.333333,0.0,1.000000,0.0,199.666667,2.333333,273.000000,0.0,4.000000,0.0,sp25,0.0,0.0,1037.000000,0.0,0.0,0.0,0.0,800.0,800.0,1036.000000,800.0,1009.000000,285.394000,994.666667,284.899552,284.899552,800.0,285.394000,54.000000,284.899552,283.434104,281.895219,283.434104,281.135063,281.135063,283.434104,281.135063,285.394000,281.895219,281.895219,5075.666667
4,4,2015-01-01 15:00:00,1.000000,level_7,0.0,1.000000,59.000000,57.000000,2.0,0.333333,0.0,185.000000,4.333333,260.000000,0.0,3.000000,0.0,sp25,0.0,0.0,1035.000000,0.0,0.0,0.0,0.0,800.0,800.0,1035.333333,800.0,NaN,285.513719,1035.333333,283.015115,283.015115,800.0,285.513719,58.333333,283.015115,284.213167,280.678437,284.213167,282.252063,282.252063,284.213167,282.252063,285.513719,280.678437,280.678437,6620.666667

In [235]:
low_p = ['Seville_pressure_sp6' , 'Seville_pressure_sp25' ,'Seville_pressure_sp5' ,'Seville_pressure_sp19']

In [236]:
# remove missing values/ features
# Dropping the index column as the time column has been made the new index column
df.drop('Unnamed: 0', inplace=True, axis=1)
df.drop(min_max, inplace=True, axis=1)
# Dropping the data gotten at 1hr interval

# df.drop('Barcelona_rain_1h', inplace=True, axis=1)
# df.drop('Seville_rain_1h', inplace=True, axis=1)
# df.drop('Bilbao_rain_1h', inplace=True, axis=1)
# df.drop('Madrid_rain_1h', inplace=True, axis=1)

# Test data

# Dropping the index column as the time column has been made the new index column
df1.drop('Unnamed: 0', inplace=True, axis=1)
df1.drop(min_max_test, inplace=True, axis=1)
# Dropping the data gotten at 1hr interval
# df1.drop('Barcelona_rain_1h', inplace=True, axis=1)
# df1.drop('Seville_rain_1h', inplace=True, axis=1)
# df1.drop('Bilbao_rain_1h', inplace=True, axis=1)
# df1.drop('Madrid_rain_1h', inplace=True, axis=1)

In [238]:
# create new features
# Applying onehot coding to the object variables
df = pd.get_dummies(df , columns=['Valencia_wind_deg'], drop_first = True)
df.drop('Seville_pressure',inplace = True, axis = 1)

# Test data

# Applying onehot coding to the object variables
df1 = pd.get_dummies(df1 , columns=['Valencia_wind_deg'], drop_first = True)
df1.drop('Seville_pressure',inplace = True, axis = 1)

In [240]:
# df.drop(low_p, inplace = True, axis =1)

# df1.drop(low_p, inplace = True, axis =1)

In [241]:
#converting the time colume to a datetime column
from datetime import timedelta
df['time']= pd.to_datetime(df['time'] ,utc=None)

# Test data

#converting the time colume to a datetime column
from datetime import timedelta
df1['time']= pd.to_datetime(df1['time'] ,utc=None)

In [242]:
#Splitting the time varible so it can be used in the modelling
df['year'] = df['time'].dt.year
df['month'] = df['time'].dt.month
df['day'] = df['time'].dt.day
df['hour'] = df['time'].dt.hour

# Test data
#Splitting the time varible so it can be used in the modelling
df1['year'] = df1['time'].dt.year
df1['month'] = df1['time'].dt.month
df1['day'] = df1['time'].dt.day
df1['hour'] = df1['time'].dt.hour

In [243]:
# engineer existing features
#Valencia_pressure has some nan values, this code replaces them with the mean
df['Valencia_pressure'].fillna(value = df['Valencia_pressure'].mean() , inplace = True)

# # Test data
#Valencia_pressure has some nan values, this code replaces them with the mean
df1['Valencia_pressure'].fillna(value = df1['Valencia_pressure'].mean() , inplace = True)

In [244]:
#  making the time column the index
df.set_index('time' , inplace = True)
df.sort_index(inplace = True)

# Test Data

#  making the time column the index
df1.set_index('time' , inplace = True)
df1.sort_index(inplace = True)

In [245]:
df[['month' , 'day' , 'hour']] = df[['month' , 'day' , 'hour']].astype('category')
# Test data
df1[['month' , 'day' , 'hour']] = df1[['month' , 'day' , 'hour']].astype('category')

In [246]:
df = pd.get_dummies(df , columns=['month' , 'day' , 'hour'], drop_first = True)
# Test data
df1 = pd.get_dummies(df1 , columns=['month' , 'day' , 'hour'], drop_first = True)

In [247]:
df.loc[df['Barcelona_rain_3h'] > 1084.0, 'Barcelona_pressure'] = df['Barcelona_pressure'].median()

In [248]:
# Managing the outliers
def replace_outliers(val, mean, std):
    if val > mean + 3*std:
        return mean + 3*std
    elif val < mean - 3*std:
        return mean - 3*std
    return val

In [249]:
for features in df.columns:
    if df[features].dtype == 'float64':
        mean = df[features].mean()
        std_dev = df[features].std(axis = 0)
        df[features] = df[features].map(lambda x: replace_outliers(x , mean , std_dev))

In [292]:
df.drop('year', inplace=True, axis=1)
# # # Test Data
df1.drop('year', inplace=True, axis=1)

In [251]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2920 entries, 2018-01-01 00:00:00 to 2018-12-31 21:00:00
Data columns (total 92 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Madrid_wind_speed           2920 non-null   float64
 1   Bilbao_rain_1h              2920 non-null   float64
 2   Valencia_wind_speed         2920 non-null   float64
 3   Seville_humidity            2920 non-null   float64
 4   Madrid_humidity             2920 non-null   float64
 5   Bilbao_clouds_all           2920 non-null   float64
 6   Bilbao_wind_speed           2920 non-null   float64
 7   Seville_clouds_all          2920 non-null   float64
 8   Bilbao_wind_deg             2920 non-null   float64
 9   Barcelona_wind_speed        2920 non-null   float64
 10  Barcelona_wind_deg          2920 non-null   float64
 11  Madrid_clouds_all           2920 non-null   float64
 12  Seville_wind_speed          2920 non-null   float64
 13  Barcelona_rain_1h           2920 non-null   float64
 14  Seville_rain_1h             2920 non-null   float64
 15  Bilbao_snow_3h              2920 non-null   int64
 16  Barcelona_pressure          2920 non-null   float64
 17  Seville_rain_3h             2920 non-null   float64
 18  Madrid_rain_1h              2920 non-null   float64
 19  Barcelona_rain_3h           2920 non-null   float64
 20  Valencia_snow_3h            2920 non-null   int64
 21  Madrid_weather_id           2920 non-null   float64
 22  Barcelona_weather_id        2920 non-null   float64
 23  Bilbao_pressure             2920 non-null   float64
 24  Seville_weather_id          2920 non-null   float64
 25  Valencia_pressure           2920 non-null   float64
 26  Madrid_pressure             2920 non-null   float64
 27  Valencia_temp               2920 non-null   float64
 28  Bilbao_weather_id           2920 non-null   float64
 29  Seville_temp                2920 non-null   float64
 30  Valencia_humidity           2920 non-null   float64
 31  Barcelona_temp              2920 non-null   float64
 32  Bilbao_temp                 2920 non-null   float64
 33  Madrid_temp                 2920 non-null   float64
 34  Valencia_wind_deg_level_10  2920 non-null   uint8
 35  Valencia_wind_deg_level_2   2920 non-null   uint8
 36  Valencia_wind_deg_level_3   2920 non-null   uint8
 37  Valencia_wind_deg_level_4   2920 non-null   uint8
 38  Valencia_wind_deg_level_5   2920 non-null   uint8
 39  Valencia_wind_deg_level_6   2920 non-null   uint8
 40  Valencia_wind_deg_level_7   2920 non-null   uint8
 41  Valencia_wind_deg_level_8   2920 non-null   uint8
 42  Valencia_wind_deg_level_9   2920 non-null   uint8
 43  year                        2920 non-null   int64
 44  month_2                     2920 non-null   uint8
 45  month_3                     2920 non-null   uint8
 46  month_4                     2920 non-null   uint8
 47  month_5                     2920 non-null   uint8
 48  month_6                     2920 non-null   uint8
 49  month_7                     2920 non-null   uint8
 50  month_8                     2920 non-null   uint8
 51  month_9                     2920 non-null   uint8
 52  month_10                    2920 non-null   uint8
 53  month_11                    2920 non-null   uint8
 54  month_12                    2920 non-null   uint8
 55  day_2                       2920 non-null   uint8
 56  day_3                       2920 non-null   uint8
 57  day_4                       2920 non-null   uint8
 58  day_5                       2920 non-null   uint8
 59  day_6                       2920 non-null   uint8
 60  day_7                       2920 non-null   uint8
 61  day_8                       2920 non-null   uint8
 62  day_9                       2920 non-null   uint8
 63  day_10                      2920 non-null   uint8
 64  day_11                      2920 non-null   uint8
 65  day_12                      2920 non-null   uint8
 66  day_13                      2920 non-null   uint8
 67  day_14                      2920 non-null   uint8
 68  day_15                      2920 non-null   uint8
 69  day_16                      2920 non-null   uint8
 70  day_17                      2920 non-null   uint8
 71  day_18                      2920 non-null   uint8
 72  day_19                      2920 non-null   uint8
 73  day_20                      2920 non-null   uint8
 74  day_21                      2920 non-null   uint8
 75  day_22                      2920 non-null   uint8
 76  day_23                      2920 non-null   uint8
 77  day_24                      2920 non-null   uint8
 78  day_25                      2920 non-null   uint8
 79  day_26                      2920 non-null   uint8
 80  day_27                      2920 non-null   uint8
 81  day_28                      2920 non-null   uint8
 82  day_29                      2920 non-null   uint8
 83  day_30                      2920 non-null   uint8
 84  day_31                      2920 non-null   uint8
 85  hour_3                      2920 non-null   uint8
 86  hour_6                      2920 non-null   uint8
 87  hour_9                      2920 non-null   uint8
 88  hour_12                     2920 non-null   uint8
 89  hour_15                     2920 non-null   uint8
 90  hour_18                     2920 non-null   uint8
 91  hour_21                     2920 non-null   uint8
dtypes: float64(32), int64(3), uint8(57)
memory usage: 983.8 KB

In [252]:
df.shape , df1.shape

((8763, 93), (2920, 92))

In [98]:
df_train = df.copy()

<a id="five"></a>
## 5. Modelling
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Modelling ⚡ |
| :--------------------------- |
| In this section, you are required to create one or more regression models that are able to accurately predict the thee hour load shortfall. |

---

In [293]:
# create targets and features dataset
X = df.drop(['load_shortfall_3h'] , axis = 1)
y = df['load_shortfall_3h']

In [294]:
 # split data
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

# Create standardization object
scaler = StandardScaler()

# Save standardized features into new variable
X_scaled = scaler.fit_transform(X)
y2 = y.to_numpy()
y_scaled = scaler.fit_transform(y2.reshape(-1,1))

# Normalise X and y


# Set test size to 10 % of training data
x_train, x_test, y_train, y_test = train_test_split(X_scaled,y,test_size=0.1,random_state=50)

In [295]:
# create one or more ML models

name = ['LinearReg', 'Ridge', 'Lasso','Random_Forest','SVR_Lin','SVR_RBF','XBoost']

regressors = [LinearRegression(), Ridge(), Lasso(), RandomForestRegressor(),SVR(kernel="linear", C=10, gamma="auto"),
             SVR(kernel="rbf", C=10, gamma="auto"),XGBRegressor()]
# from sklearn.linear_model import LinearRegression
# lm = LinearRegression()
# lm.fit(x_train, y_train)

In [296]:
X.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8763 entries, 2015-01-01 03:00:00 to 2017-12-31 21:00:00
Data columns (total 91 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Madrid_wind_speed           8763 non-null   float64
 1   Bilbao_rain_1h              8763 non-null   float64
 2   Valencia_wind_speed         8763 non-null   float64
 3   Seville_humidity            8763 non-null   float64
 4   Madrid_humidity             8763 non-null   float64
 5   Bilbao_clouds_all           8763 non-null   float64
 6   Bilbao_wind_speed           8763 non-null   float64
 7   Seville_clouds_all          8763 non-null   float64
 8   Bilbao_wind_deg             8763 non-null   float64
 9   Barcelona_wind_speed        8763 non-null   float64
 10  Barcelona_wind_deg          8763 non-null   float64
 11  Madrid_clouds_all           8763 non-null   float64
 12  Seville_wind_speed          8763 non-null   float64
 13  Barcelona_rain_1h           8763 non-null   float64
 14  Seville_rain_1h             8763 non-null   float64
 15  Bilbao_snow_3h              8763 non-null   float64
 16  Barcelona_pressure          8763 non-null   float64
 17  Seville_rain_3h             8763 non-null   float64
 18  Madrid_rain_1h              8763 non-null   float64
 19  Barcelona_rain_3h           8763 non-null   float64
 20  Valencia_snow_3h            8763 non-null   float64
 21  Madrid_weather_id           8763 non-null   float64
 22  Barcelona_weather_id        8763 non-null   float64
 23  Bilbao_pressure             8763 non-null   float64
 24  Seville_weather_id          8763 non-null   float64
 25  Valencia_pressure           8763 non-null   float64
 26  Madrid_pressure             8763 non-null   float64
 27  Valencia_temp               8763 non-null   float64
 28  Bilbao_weather_id           8763 non-null   float64
 29  Seville_temp                8763 non-null   float64
 30  Valencia_humidity           8763 non-null   float64
 31  Barcelona_temp              8763 non-null   float64
 32  Bilbao_temp                 8763 non-null   float64
 33  Madrid_temp                 8763 non-null   float64
 34  Valencia_wind_deg_level_10  8763 non-null   uint8
 35  Valencia_wind_deg_level_2   8763 non-null   uint8
 36  Valencia_wind_deg_level_3   8763 non-null   uint8
 37  Valencia_wind_deg_level_4   8763 non-null   uint8
 38  Valencia_wind_deg_level_5   8763 non-null   uint8
 39  Valencia_wind_deg_level_6   8763 non-null   uint8
 40  Valencia_wind_deg_level_7   8763 non-null   uint8
 41  Valencia_wind_deg_level_8   8763 non-null   uint8
 42  Valencia_wind_deg_level_9   8763 non-null   uint8
 43  month_2                     8763 non-null   uint8
 44  month_3                     8763 non-null   uint8
 45  month_4                     8763 non-null   uint8
 46  month_5                     8763 non-null   uint8
 47  month_6                     8763 non-null   uint8
 48  month_7                     8763 non-null   uint8
 49  month_8                     8763 non-null   uint8
 50  month_9                     8763 non-null   uint8
 51  month_10                    8763 non-null   uint8
 52  month_11                    8763 non-null   uint8
 53  month_12                    8763 non-null   uint8
 54  day_2                       8763 non-null   uint8
 55  day_3                       8763 non-null   uint8
 56  day_4                       8763 non-null   uint8
 57  day_5                       8763 non-null   uint8
 58  day_6                       8763 non-null   uint8
 59  day_7                       8763 non-null   uint8
 60  day_8                       8763 non-null   uint8
 61  day_9                       8763 non-null   uint8
 62  day_10                      8763 non-null   uint8
 63  day_11                      8763 non-null   uint8
 64  day_12                      8763 non-null   uint8
 65  day_13                      8763 non-null   uint8
 66  day_14                      8763 non-null   uint8
 67  day_15                      8763 non-null   uint8
 68  day_16                      8763 non-null   uint8
 69  day_17                      8763 non-null   uint8
 70  day_18                      8763 non-null   uint8
 71  day_19                      8763 non-null   uint8
 72  day_20                      8763 non-null   uint8
 73  day_21                      8763 non-null   uint8
 74  day_22                      8763 non-null   uint8
 75  day_23                      8763 non-null   uint8
 76  day_24                      8763 non-null   uint8
 77  day_25                      8763 non-null   uint8
 78  day_26                      8763 non-null   uint8
 79  day_27                      8763 non-null   uint8
 80  day_28                      8763 non-null   uint8
 81  day_29                      8763 non-null   uint8
 82  day_30                      8763 non-null   uint8
 83  day_31                      8763 non-null   uint8
 84  hour_3                      8763 non-null   uint8
 85  hour_6                      8763 non-null   uint8
 86  hour_9                      8763 non-null   uint8
 87  hour_12                     8763 non-null   uint8
 88  hour_15                     8763 non-null   uint8
 89  hour_18                     8763 non-null   uint8
 90  hour_21                     8763 non-null   uint8
dtypes: float64(34), uint8(57)
memory usage: 2.8 MB

In [297]:
# from sklearn import metrics
# import math
# result = []
# models = {}
# for n, reg in zip(name,regressors):
#     print('Fitting {} model...'.format(name))
#     run_time = %timeit -q -o reg.fit(x_train,y_train)
#     print('.....Predicting')
#     y_pred = reg.predict(x_test)
    
    
#     print('....Scoring')
#     rmse_test = np.sqrt(metrics.mean_squared_error(y_test,y_pred))
    
    
#     #Saving result to dictionary
#     models[n] = reg
#     result.append([n, rmse_test,run_time.best])
    
# result =pd.DataFrame(result, columns = ['Regressor', 'Test_RMSE','Train_time'])
# result.set_index('Regressor', inplace = True)

In [507]:
result.sort_values('Test_RMSE', ascending=True)

                 Test_RMSE  Train_time
Regressor
XBoost         2993.999556    2.913515
Random_Forest  3325.501463   23.194099
LinearReg      3755.560896    0.044987
Ridge          3759.144663    0.020711
Lasso          3768.986824    0.422620
SVR_Lin        4201.722908   89.927896
SVR_RBF        5289.923155    9.430374

In [298]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(x_train, y_train)

LinearRegression()

In [299]:
# extract model intercept
beta_0 = float(lm.intercept_)
# extract model coeffs
beta_js = pd.DataFrame(lm.coef_, X.columns, columns=['Coefficient'])

In [300]:
print("Intercept:", beta_0)

Intercept: 10674.578468287513

In [301]:
beta_js

                     Coefficient
Madrid_wind_speed    -489.674087
Bilbao_rain_1h       -377.020332
Valencia_wind_speed  -134.613063
Seville_humidity     -211.629404
Madrid_humidity        64.227519
...                          ...
hour_9               -544.728934
hour_12               507.177262
hour_15               460.393684
hour_18               -16.772708
hour_21               167.237674

[91 rows x 1 columns]

In [302]:
# evaluate one or more ML models

<a id="six"></a>
## 6. Model Performance
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Model performance ⚡ |
| :--------------------------- |
| In this section you are required to compare the relative performance of the various trained ML models on a holdout dataset and comment on what model is the best and why. |

---

In [508]:
# Compare model performance


# math.sqrt(metrics.mean_squared_error(y_test, lm.predict(x_test)))

result.sort_values('Test_RMSE', ascending=True)

                 Test_RMSE  Train_time
Regressor
XBoost         2993.999556    2.913515
Random_Forest  3325.501463   23.194099
LinearReg      3755.560896    0.044987
Ridge          3759.144663    0.020711
Lasso          3768.986824    0.422620
SVR_Lin        4201.722908   89.927896
SVR_RBF        5289.923155    9.430374

In [303]:
Xbg_model = XGBRegressor()
RF_model = RandomForestRegressor()

In [304]:
Xbg_model.fit(X,y)
RF_model.fit(X,y)

C:\Users\Lucky\Anaconda3\lib\site-packages\xgboost\data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

RandomForestRegressor()

In [305]:
xbg_pred = Xbg_model.predict(df1)
rf_pred = RF_model.predict(df1)

C:\Users\Lucky\Anaconda3\lib\site-packages\xgboost\data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

In [306]:
output4 = pd.DataFrame({'time': df1.index, 'load_shortfall_3h': xbg_pred}) 
output4.to_csv('xbg_submission.csv', index=False)

In [307]:
output4 = pd.DataFrame({'time': df1.index, 'load_shortfall_3h': rf_pred }) 
output4.to_csv('rf_submission.csv', index=False)

In [308]:
predictions = lm.predict(df1)

C:\Users\Lucky\Anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  warnings.warn(

In [309]:
submission = df4[['time']]

In [310]:
submission['load_shortfall_3h'] = predictions

<ipython-input-310-f0f8a0b420dd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  submission['load_shortfall_3h'] = predictions

In [311]:
submission.to_csv('submission.csv' , index=False)

In [312]:
from sklearn.tree import DecisionTreeRegressor
# Instantiate regression tree model
regr_tree = DecisionTreeRegressor(max_depth=3)

In [313]:
regr_tree.fit(x_train,y_train)

DecisionTreeRegressor(max_depth=3)

In [314]:
y_pred = regr_tree.predict(x_test)

In [315]:
print("RMSE: ", np.sqrt(mean_squared_error(y_test,y_pred)))

RMSE:  4785.285271028163

In [316]:
predictions2 = regr_tree.predict(df1)

C:\Users\Lucky\Anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but DecisionTreeRegressor was fitted without feature names
  warnings.warn(

In [317]:
submission2 = df4[['time']]

In [318]:
submission2['load_shortfall_3h'] = predictions2

<ipython-input-318-4c535137f509>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  submission2['load_shortfall_3h'] = predictions2

In [319]:
submission2.to_csv('d_tree_submission.csv' , index=False)

In [320]:
from sklearn.ensemble import StackingRegressor

In [321]:
# # For clarity, we declare our model list again here 
# models = [("LR",lm),("DT",regr_tree),("RF",rf_pred)]

# # Instead of choosing model weightings, we now declare the meta learner 
# # model for our stacking ensemble. 
# # Here we choose to use a simple linear regression 
# meta_learner_reg = DecisionTreeRegressor(max_depth=3)

# s_reg = StackingRegressor(estimators=models, final_estimator=meta_learner_reg)

In [322]:
# s_reg.fit(x_train,y_train)

In [323]:
from sklearn.ensemble import BaggingRegressor

In [324]:
# Instantiate decision tree regression model to use as the base model
d_tree = DecisionTreeRegressor(max_depth=4)
# Instantiate BaggingRegressor model with a decision tree as the base model
bag_reg = BaggingRegressor(base_estimator = d_tree)

In [325]:
bag_reg.fit(x_train,y_train)

BaggingRegressor(base_estimator=DecisionTreeRegressor(max_depth=4))

In [326]:
y_pred = bag_reg.predict(x_test)
print("RMSE: ", np.sqrt(mean_squared_error(y_test,y_pred)))

RMSE:  4557.249638202685

In [327]:
submission_bagging = df4[['time']]

In [328]:
predictions_bag = bag_reg.predict(df1)

C:\Users\Lucky\Anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but BaggingRegressor was fitted without feature names
  warnings.warn(

In [329]:
submission_bagging['load_shortfall_3h'] =predictions_bag

<ipython-input-329-b41f60e566df>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  submission_bagging['load_shortfall_3h'] =predictions_bag

In [289]:
submission_bagging.to_csv('submission_bag.csv' , index=False)

In [482]:
# from sklearn.svm import SVR

In [443]:
# Instantiate support vector regression model
# sv_reg = SVR(kernel='rbf', c=10, gamma='0.1')

In [483]:
# sv_reg.fit(x_train,y_train[:,0])

In [ ]:
# Choose best model and motivate why it is the best choice

In [141]:
df.shape

(8763, 109)

<a id="seven"></a>
## 7. Model Explanations
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Model explanation ⚡ |
| :--------------------------- |
| In this section, you are required to discuss how the best performing model works in a simple way so that both technical and non-technical stakeholders can grasp the intuition behind the model's inner workings. |

---

In [ ]:
# discuss chosen methods logic